BOT_NAME=AmazingBot
BOT_VERSION=2.0.0

OWNER_NUMBER=YOUR_NUMBER_HERE
OWNER_NUMBERS=YOUR_NUMBER_HERE
OWNER_NAME=Raphael Ilom
SUDO_NUMBERS=

TELEGRAM_BOT_ID=
TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_IDS=YOUR_TELEGRAM_ID

PREFIX=.
PUBLIC_MODE=false
SELF_MODE=false
AUTO_TYPING=true
AUTO_RECORDING=false
AUTO_READ=false
AUTO_ONLINE=true

SESSION_ID=

MEGA_EMAIL=
MEGA_PASSWORD=

OPENAI_API_KEY=
GEMINI_API_KEY=
GROQ_API_KEY=

WEATHER_API_KEY=

DATABASE_URL=

PORT=5000
